@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}
.frame {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 1408px;
    width: 99vw;
}
.checkerboard {
    max-width: 1408px;
    width: 99vw;
}

.section {
    display: flex;
}

.sidebar {
    display: flex;
    max-width: 128px;
    width: 9vw;
    min-height: 9vw;
    color: white;
    justify-content: center;
    align-items: center;
}
.sidebar__fes1 {
    background-color: #e50080;
}
.sidebar__fes2 {
    background-color: #1ab1f6;
}
.sidebar__fes3 {
    background-color: #f8b656;
}
.sidebar__fes4 {
    background-color: #da57d8;
}
.sidebar__party1 {
    background-color: #fb8a9b;
    font-size: 3.2vw;
}
.sidebar__party2 {
    background-color: #1a737d;
    font-size: 3.2vw;
}
.sidebar__normal {
    background-color: #c40035;
    font-size: 2.46vw;
}

.background {
    display: flex;
    max-width: 1280px;
    width: 90vw;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #180134;
}

img {
    display: block;
    width: 9vw;
    height: 9vw;
    max-width: 128px;
    max-height: 128px;
    object-fit: contain;

}

.icon {
    display: none;
    width: 9vw;
    height: 9vw;
    max-width: 128px;
    max-height: 128px;
    justify-content: center;
    align-items: center;
}

.icon > img {
    width: 7vw;
    height: 7vw;
    max-width: 100px;
    max-height: 100px;
}
.card {
    width: 9vw;
    height: 9vw;
    max-width: 128px;
    max-height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature {
    position: absolute;
    opacity: 0%;
}
.limitbreak {
    position: absolute;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: #ff51c4;
    font-size: 3vw;
    color: white;
    width: 16vw;
    height: 12vw;
    max-width: 100px;
    max-height: 75px;
    line-height: 110%;
    margin: 3.2vw;
    border-radius: 10px;
    border: none;
}

.applyDataButton {
    margin: 0;
}

.copyDataModalButton {
    width: 12vw;
    height: 9vw;
    max-width: 75px;
    max-height: 55px;
    margin: 1vw;

}

.buttonframe {
    display: flex;
    justify-content: center;
    max-width: 1408px;
    width: 99vw;
}

.sortByGroupSwitch {
    width: 48vw;
    height: 12vw;
    max-width: 300px;
    max-height: 75px;
    font-size: 4.5vw;
    margin-top: 0;
}

dialog {
    background-color: #F8C8C4;
    border: 0;
    border-radius: 20px;
    -ms-overflow-style: none;  /* IE and Edge 스크롤바 없애기*/
    scrollbar-width: none; /*Firefox 스크롤바 없애기*/
}

dialog::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 스크롤바 없애기*/
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    max-width: 250px;
    max-height: 250px;
}
.input_body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 16vw;
    max-height: 100px;
}

label {
    display:inline-block;
    font-family: 'Nunito', sans-serif;
    color: #ff51c4;
    font-size: 2.56vw; 
    width: 16vw;
    line-height: 100%;
    max-width: 100px;
}
input {
	width: 16vw;
    max-width: 100px;
    border: 0;
    border-radius: 10px;
    background-color: #b2ffdd;
}

input:focus {
    outline: 2px solid #00C7B1;
}

.dataArea {
    width: 32vw;
    height: 24vw;
    max-width: 200px;
    max-height: 150px;
    resize: none;
    border: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #b2ffdd;
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge 스크롤바 없애기*/
    scrollbar-width: none; /*Firefox 스크롤바 없애기*/
}

.dataArea:focus {
    outline: 0;
}

.dataArea::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 스크롤바 없애기*/
}

@media screen and (min-width: 625px) {
    .button {
        font-size: 19px;
    }
    label {
        font-size: 16px;
    }
    .copyDataModalButton {
        font-size: 15px;
    }
    .sortByGroupSwitch {
        font-size: 27px;
    }
}
@media screen and (min-width: 1408px) {
    .sidebar {
        min-height: 128px;
    }
}