@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
body {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}
.checkerboard {
    width: 1408px;
}

.section {
    display: flex;
}

.sidebar {
    display: flex;
    width: 128px;
    min-width: 128px;
    min-height: 128px;
    color: white;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sidebar__fes1 {
    background-color: #e50080;
}
.sidebar__fes2 {
    background-color: #1ab1f6;
}
.sidebar__fes3 {
    background-color: #f8b656;
}
.sidebar__fes4 {
    background-color: #da57d8;
}
.sidebar__party1 {
    background-color: #fb8a9b;
    font-size: 45px;
}
.sidebar__party2 {
    background-color: #1a737d;
    font-size: 45px;
}
.sidebar__event {
    background-color: #c40035;
    font-size: 40px;
}

.background {
    display: flex;
    width: 1280px;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #180134;
}

.card {
    display: flex;
    position: relative;
    width: 128px;
    height: 128px;

}

img {
    display: block;
    width: 100%;
    height: auto;

}
.signature {
    position: absolute;
}
.limitbreak {
    position: absolute;
}

@media screen and (min-width: 256px) and (max-width: 383px) {
    .checkerboard {
        width: 256px;
    }
}

@media screen and (min-width: 384px) and (max-width: 511px) {
    .checkerboard {
        width: 384px;
    }
}

@media screen and (min-width: 512px) and (max-width: 639px) {
    .checkerboard {
        width: 512px;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .checkerboard {
        width: 640px;
    }
}

@media screen and (min-width: 768px) and (max-width: 895px) {
    .checkerboard {
        width: 768px;
    }
}

@media screen and (min-width: 896px) and (max-width: 1023px) {
    .checkerboard {
        width: 896px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1151px) {
    .checkerboard {
        width: 1024px;
    }
}

@media screen and (min-width: 1152px) and (max-width: 1279px) {
    .checkerboard {
        width: 1152px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1407px) {
    .checkerboard {
        width: 1280px;
    }
}